.card{
  border: 1px solid var(--border);
  max-width: 230px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #c3c1c1;
  text-align: center;
  margin: 10px;
  display: inline-block;
}

.card img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
}